In [2]:
print(14+25)

39

In [3]:
#simple function
def say_hi():
    print("hello world")
    
say_hi()

hello world

In [4]:
# function with parameters

def say_welcom(phrase, _date):
    print(phrase.upper(), " today is ", _date)
    
say_welcom("hello", "5/10/2020")

HELLO  today is  5/10/2020

In [5]:
#return values
def myvalue(numericals):
    numericals=numericals/2
    return numericals
myvalue(40)

20.0

In [6]:
def bird_available(bird):
    bird_name="crow robin nightingle"
    return bird_name

birdname=input("enter the birdanme " )
print ("the bird name availability is" , birdname in bird_available(birdname))

enter the birdanme crow
the bird name availability is True

In [7]:
# mathematical exressions.
#double slash is for dividing without carry on result or closes integer.
x=5/4
print(x)
y=25//4
y

1.25

6

In [8]:
# list and tuples
var=("cow",1,2.556)
type(var)
# you can access to the elements of tuple
var[0] #this will return cow
var[2] # this will return 2.556

# you can concatenate the tuple

var2=var+("cat","snake",5)
var2[3] # this will return cat

# tuples are immutable(cant change the value of element), you have to create a new one

'cat'

In [9]:
# sort a tuple
var1=(9,3,2,5,10,5,0)
var2=sorted(var1)
var2

[0, 2, 3, 5, 5, 9, 10]

In [10]:
# nesting the tuple
n1=("joke","clock","rock")
n2=(0,23,45,465)
n3=(.5,.25)
n=(n1,n2,n3)
n[2][1] #this will return 0.25(as it is the 2nd element of 3rd set)
n
n1[-3] # -1 is the way of calling the last element of a tuple

'joke'

In [11]:
# list are muttable and represnted by [] wher tuples aare represented by ()

l1=["michael",10,12,65,9,"jack",("four",4)]
l1[6][1] # this will return 4 as it is calling for 1st element of 6th item
l1[5:7]  # the index is 1+ larger then the length of the list and  tuple

# list can be changed
l1.extend(["crock","lock"])
len(l1) 
l1.append(["mic",24])
len(l1) # append add the elements but consider as one element where extend consider each of them individual element
l1
del(l1[9]) # it will delete the 10th element (mic,24)
l1

['michael', 10, 12, 65, 9, 'jack', ('four', 4), 'crock', 'lock']

In [12]:
# you can split a list
a1=["24,45,36,67,75"]
b1="24,45,36,89".split(",") # it will not take any variable
b1

['24', '45', '36', '89']

In [13]:
# cloning a vaiable
a=[23, "man","bat",45]
b=a[:]
b[0]="land" # changing the 1st element of b
b

['land', 'man', 'bat', 45]

In [14]:
# sets=collection of elements, unordered, unique elements
s1={"clock","rock","joke","pop","rock","crock"} #there might be duplicate items but wont be presented
l1=["order","recorder","player","joker",45,65,995]
s2=set(l1) # converting a list into set
s2

{45, 65, 995, 'joker', 'order', 'player', 'recorder'}

In [17]:
# set operations
s1={"clock","rock","joke","pop","rock","crock"}
s1.add("mock") # will add "mock" to the set
s1
"rock" in s1 # will give true
s1.remove("pop") #will remove "pop" from the set
s1
s2={"clock","player","crock"}
s3=s1&s2 # find the common values
s3
s4=s1.union(s2) # set union operation
s4

s2.issubset(s4) # sub set validity check

True