In [4]:
# print your name#

print ("I am Arefin Ahmed")

# do math
x=5
y=x+2
y

I am Arefin Ahmed

7

In [5]:
"Hello World"

'Hello World'

In [10]:

print(type("Malcolm Gladwell"))

<class 'str'>

In [11]:
print(type(0.0000000001))

<class 'float'>

In [24]:
# in print function you can not mix different type of variables

name="Alex"
name2="Malcolm"
age=45
print(name +(" ")+ name2)

Alex Malcolm

In [1]:
# take input
age=input("name ")
print("the age  is " + age)

name arefin
the age  is arefin

In [3]:
# how to print different types of data
age=input()
name=input()
print(name, "is", age)

35
Max
Max is 35

In [ ]:
# boolen Test

In [5]:
"arefin".isalpha()

True

In [6]:
"3rd".isalnum()

True

In [12]:
"regular".startswith("R")

False

In [16]:
#all the case has to be lower/upper
"tube".islower()

True

In [17]:
"Tube".isupper()

False

In [21]:
cm_height="176"
cm_height.isdigit()

True

In [23]:
# formatting string
print("i live in USA".lower())

i live in usa

In [24]:
print("Clever Fox Run Over Lazy Dog".capitalize())

Clever fox run over lazy dog

In [25]:
Are_preference=input("type the area you like most ").upper()
print(Are_preference)

type the area you like most Texas
TEXAS

In [35]:
#boolean In keyword
menu="Salad Sandwich with ranch"
print('ranch' in menu )
print('salad' in menu)
print('Salad'.lower() in menu.lower())

True
False
True

In [1]:
print("*    *")
print(" *  *")
print("  *")
print(" *  *")
print("*     *")

*    *
 *  *
  *
 *  *
*     *

In [22]:
# bind string
x="michael jackson"
x[0]
y="arefin ahmed"
#y[-10]:"a"
y[-11]
y[1:4]
y[::2]
x[::2]
x[0:5:2]

'mca'

In [23]:
#measure the length of a string
x="apple pie"
len(x)

9

In [30]:
# methods for strings
x="apple pie"
l=x.upper()
r=l.replace('APPLE','pineapple')

# to use replace method you have to enter the exact string
r

'pineapple PIE'

In [33]:
# find method
x="Garden state"
x.find('den')
x.find('pen')
#if the find method cant find the string will return -1

-1